<a href="https://colab.research.google.com/github/Ayushkumar11/Ayushkumar11/blob/master/IMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Inventory Management System***


1.There are 27 products.
2.As ID,productname,price,quantity

In [8]:
fd = open("Record.txt","r")
txt = fd.read()
fd.close()

Record file  is used to store the products data.

In [9]:
products=txt.split("\n")

['1001,candybar,25,95',
 '1002,pen,20,100',
 '1003,Chocolate,10,40',
 '1004,corn,45,95',
 '1005,nuts,50,7',
 '1006,Coco,10,40',
 '1007,sugar,45,95',
 '1008,rice,100,7',
 '1009,wheat,50,40',
 '1010,thoothpaste,45,95',
 '1011,peabel,300,7',
 '1012,chips,10,40',
 '1013,buistuc,45,95',
 '1014,limb,300,7',
 '1015,shake,10,40',
 '1016,peas,45,95',
 '1017,dgf,300,7',
 '1018,perfume,200,40',
 '1019,bags,1000,15',
 '1020,cupcake,30,17',
 '1021,cream,100,40',
 '1022,Drinks,45,95',
 '1023,cheese,30,7',
 '1024,berry,10,40',
 '1025,apples,45,95',
 '1026,banana,30,7',
 '1027,salt,10,40']

**We have used split function to properly seperated each items for better understanding**

In [10]:

products = txt.split("\n")

ui_prod  = str(input("Enter the product_Id: "))
ui_quant = input("Enter the quantity: ")

for product in products:
    prod = product.split(",")
    
    
    if(prod[0] == ui_prod):
        print("***********************")
        print("Product ID: ", prod[0])
        print("Name: ", prod[1])
        print("Price: ",prod[2])
        print("Quant: ",ui_quant)
        print("------------------------")
        print("Billing Amout: ", ui_quant * int(prod[2]))
        print("***********************")

Enter the product_Id: 1020
Enter the quantity: 2
***********************
Product ID:  1020
Name:  cupcake
Price:  30
Quant:  2
------------------------
Billing Amout:  222222222222222222222222222222
***********************

In [11]:
dct = { 1 : {'name' : 'jelly', "price": 10 , "qn": 32, "product id":1030 },
       2 : {'name' : 'bread', "price": 40 , "qn": 32, "product id": 1031 },
       3 : {'name' : 'mint', "price": 10 , "qn": 32, "product id": 1032 }}

In [12]:
dct

{1: {'name': 'jelly', 'price': 10, 'product id': 1030, 'qn': 32},
 2: {'name': 'bread', 'price': 40, 'product id': 1031, 'qn': 32},
 3: {'name': 'mint', 'price': 10, 'product id': 1032, 'qn': 32}}

dct used to store data as in dictonary